<!-- <div style="color: black; font-style: italic" class="container-fluid">
	<div class="col-sm-4">
		<div class="thumbnail">
			<img class="imageStyle" src={{data.imagePath}} alt="Lights">
		</div>
		<h4>Leave a Comment:</h4>
		<form class="status" role="form">
			<div class="form-group">
				<textarea id="commentbox"
					style="resize: vertical; font-weight: bold" class="form-control"
					rows="3" ng-model="comment" required></textarea>
			</div>
			<strong>Rating:</strong> <label class="radio-inline"> <input
				type="radio" name="optradio" value="1" ng-model="rating" required> 1
			</label> <label class="radio-inline"> <input type="radio"
				name="optradio" value="2" ng-model="rating" required> 2
			</label> <label class="radio-inline"> <input type="radio"
				name="optradio" value="3" ng-model="rating" required> 3
			</label><label class="radio-inline"> <input type="radio"
				name="optradio" value="4" ng-model="rating" required> 4
			</label><label class="radio-inline"> <input type="radio"
				name="optradio" value="5" ng-model="rating" required> 5
			</label>
			<button ng-click="addToReview()" class="btn btn-success">Submit</button>
		</form>
	</div>
	<div class="col-sm-8">
		<div style="font-size: 150%;; text-align: center;" class="row content">
			<h2>{{data.bookName}}</h2>
			<p class="text-justify">{{data.bookDescription}}</p>
		</div>
		<div class="row content">
			<div>
				<a>Authour Name :</a>{{data.author}}
			</div>
			<br> <br>
			<button ng-click="addToWishList()" class="btn btn-success">Add
				To Favourite</button>
		</div>
		<h2>Comments</h2>
		<div style="color: black" ng-repeat="review in reviewdata"
			class="row content">
			<ul style="text-align: justify" class="list-group">
				<li class="list-group-item"><strong>UserName :</strong> {{review.name}} &nbsp &nbsp Ratings:{{review.bookRating}}</li>
				<li class="list-group-item"><strong>{{review.bookComment}}</strong></li>
			</ul>
		</div>
	</div>
</div>
 -->

<div id="single-product-alignments" class="container-fluid">
<div class="col-sm-12">
	<div id="singleProduct-margin-alignment" class="col-sm-4">
		<div class="thumbnail">
			<div>
				<img class="imageStyle" src={{data.imagePath}} alt="Lights">
			</div>
		</div>
		<div>
			<h4>Leave a Comment:</h4>
		</div>
		<div>
			<form class="status" role="form">
				<div class="form-group">
					<textarea id="commentbox" class="form-control" ng-model="comment" required></textarea>
				</div>
				<div>
					<strong>Rating:</strong> <label class="radio-inline"> <input
						type="radio" name="optradio" value="1" ng-model="rating" required> 1
					</label> <label class="radio-inline"> <input type="radio"
						name="optradio" value="2" ng-model="rating" required> 2
					</label> <label class="radio-inline"> <input type="radio"
						name="optradio" value="3" ng-model="rating" required> 3
					</label><label class="radio-inline"> <input type="radio"
						name="optradio" value="4" ng-model="rating" required> 4
					</label><label class="radio-inline"> <input type="radio"
						name="optradio" value="5" ng-model="rating" required> 5
					</label>
				</div>
				<div>
					<button ng-click="addToReview()" class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<div id="single-product-alignments" class="col-sm-8">
		<div class="row content">
			<div id="bookName-alignment">
				<h2>{{data.bookName}}</h2>
			</div>
			<div>
				<p id="Description-alignment">{{data.bookDescription}}<p>
			</div>
		</div>
		<div class="row content">
			<div id="authorName">
				<a>Authour Name :</a>{{data.author}}
			</div>
			<div>
				<button ng-click="addToWishList()" class="btn btn-success">Add
				To Favourite</button>
			</div>
		</div>
		<div>
			<h2>Comments</h2>
		</div>
		<div id="comment-box-alignment" ng-repeat="review in reviewdata" class="row content">
			<ul class="list-group">
				<li class="list-group-item"><strong>UserName :</strong> {{review.name}} <span> Ratings:{{review.bookRating}} </span>
					<div>
						<strong>{{review.bookComment}}</strong>
					</div>
				</li>
			</ul>
		</div>
	</div>
	</div>
</div>